.about-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(113, 122, 127);
    width: 317px;
  
}

.head{
    margin: 0px;
    font-size: 25px;
    letter-spacing: 1px;
    padding-bottom: 0;
    color: aliceblue;
}

.texts{
padding-top: 10px;
margin: 0;
font-size: 10px;
color: rgb(255, 255, 255);
line-height: 1.5;

}