.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 20px;
  background-color: rgb(40, 39, 39);
}
body{
  margin: 0;
  padding: 0;
}

  
